.logo-container img {     
    width: 2%;
    height: auto;
    object-fit: cover;
    object-position: center;
    display: block;
    background-color: white;    
    display: inline-block; 
    flex-direction: row;
}
.socials-container img {
    width: 2%;
    height: auto;
    object-fit: cover; 
    object-position: center; 
    display: block;
    display: inline-block; 
}
.logo-container img:hover {
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: border 0.3s ease, box-shadow 0.3s ease; /
  }
  
.test {
    display: flex;
    flex-direction: column;
}